@import url('https://fonts.googleapis.com/css2?family=Duru+Sans&family=Oswald:wght@200..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

:root {
  --primary-color: #06365c;
  --secondary-color: #1ABC9C;
  --dark-color: #434343;
  --text-color: #F7F6FA;
  --light-color: #F5F5F5;
  --tertiary-color: #FF5733;
  --font-size: 1rem;
  --border-radius: 0.5rem;
  --shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  --grid-padding: 2rem 9.38rem;
  --grid-padding-no-top: 0 9.38rem;
  --tab-padding: 2rem;
  --mobile-padding: 1rem;
  --border-radius:1.5rem;
}


@keyframes appear {
  from {
    opacity: 0;
    scale: 0.5;
    /* clip-path: inset(100% 100% 0 0); */
    /*transform: translateX(-100px) */
  }

  to {
    opacity: 1;
    scale: 1;
    /* clip-path: inset(0 0 0 0); */
    /* transform: translateX(0) */
  }
}

.contact-hero-section{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;
  padding: var(--grid-padding);
  background-image: url(/images/About\ Us\ Hero\ Image.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  animation: appear 1s ease-in-out;
}

.hero-text{
  width: fit-content;
  height: auto;
}

.hero-text h1{
  font-size: 3.5rem;
  color: var(--text-color);
  padding: 2rem;
  text-align: center;
}

.opinion-text-group{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;
  padding: var(--grid-padding);
  background: var(--Key-color-Light-Color, #F5F5F5);
  
}

.opinion-text-group h2{
  width: 50%;
  font-size: 2rem;
  color: var(--dark-color);
}

.opinion-text-group p{
  width: 50%;
  font-size: 1rem;
  color: var(--Reference-Light-4, #474747);
}

.contact-section{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  padding: var(--grid-padding);
}

.left-contact-container{
  width: 60%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;
}

.contact-form{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
}

.name-email-group{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: .5rem;
}

.subject-group{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap:.5rem;
}

.subject-group textarea{
  width: 100%;
  height: 10rem;
  padding: 1rem;
  border-radius: 1.5rem;
}


.right-contact-container{
  width: 40%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;
  background-color: var(--light-color);
  padding: 1rem;
  border-radius: 1.5rem;
  box-shadow: var(--shadow);
}

.contact-info-head{
  width: fit-content;
  height: auto;
}

.contact-info-head h3{
  font-size: 2rem;
  color: var(--primary-color);
}

.contact-info-head p{
  font-size: 1rem;
  color: var(--dark-color);
}

.contact-info-container{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;
}

.contact-info-details{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap:.8rem;
}

.icon-containers{
  width: fit-content;
  height: auto;
  background-color: var(--primary-color);
  padding: 1rem;
  border-radius: var(--border-radius);
  color: #F5F5F5;
}

.contact-info-item{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap:.3rem;
}

.contact-info-item h4{
  font-size: 1rem;
  color:var(--primary-color)
}

.contact-info-item p{
  font-size: 1rem;
  color: var(--dark-color);
}

.socials-section{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.socials-section h2{
  width: fit-content;
  height: auto;
  font-size: 1rem;
  color: var(--primary-color);
}

.social-icons{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap:1rem;
}

.social-icon a{
  text-decoration: none;
  color: var(--dark-color);
  transition: color 0.3s ease-in-out;
}

.map-section{
  width: 100%;
  height: auto;
}

.map-section iframe{
  width: 100%;
  height: 400px;
}

/* Media query TABLET SIZE */

@media (max-width: 1024px) {
    .contact-hero-section {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 2rem;
        padding: var(--tab-padding);
        background-image: url(/images/About\ Us\ Hero\ Image.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        animation: appear 1s ease-in-out;
      }
    
      .hero-text {
        width: fit-content;
        height: auto;
      }
    
      .hero-text h1 {
        font-size: 2.5rem;
        color: var(--text-color);
        padding: 2rem;
        text-align: center;
      }
    
      .opinion-text-group{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 1rem;
        padding: var(--tab-padding);
        background: var(--Key-color-Light-Color, #F5F5F5);
      }
    
      .opinion-text-group h2 {
        width: 50%;
        font-size: 1.5rem;
        color: var(--dark-color);
      }
    
      .opinion-text-group p {
        width: 50%;
        font-size: .8rem;
        color: var(--Reference-Light-4, #474747);
      }
    
      .contact-section {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 1rem;
        padding: var(--tab-padding);
      }
    
      .left-contact-container {
        width: 50%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 2rem;
      }
    
      .contact-form {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 1rem;
      }
    
      .name-email-group {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: .5rem;
      }
    
      .subject-group {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: .5rem;
      }
    
      .subject-group textarea {
        width: 100%;
        height: 10rem;
        padding: 1rem;
        border-radius: 1.5rem;
      }
    
    
      .right-contact-container {
        width: 50%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 1rem;
        background-color: var(--light-color);
        padding: 1rem;
        border-radius: 1.5rem;
        box-shadow: var(--shadow);
      }
    
      .contact-info-head {
        width: fit-content;
        height: auto;
      }
    
      .contact-info-head h3 {
        font-size: 1.5rem;
        color: var(--primary-color);
      }
    
      .contact-info-head p {
        font-size: .8rem;
        color: var(--dark-color);
      }
    
      .contact-info-container {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 1rem;
      }
    
      .contact-info-details {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        gap: .8rem;
      }
    
      .icon-containers {
        width: fit-content;
        height: auto;
        background-color: var(--primary-color);
        padding: 1rem;
        border-radius: .5rem;
        color: #F5F5F5;
      }
    
      .contact-info-item {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: .3rem;
      }
    
      .contact-info-item h4{
        font-size: 1rem;
        color: var(--primary-color)
      }
    
      .contact-info-item p{
        font-size: 1rem;
        color: var(--dark-color);
      }
    
      .socials-section{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
      }
    
      .socials-section h2{
        width: fit-content;
        height: auto;
        font-size: 1rem;
        color: var(--primary-color);
      }
    
      .social-icons{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 1rem;
      }
    
      .social-icon a{
        text-decoration: none;
        color: var(--dark-color);
        transition: color 0.3s ease-in-out;
      }
    
      .map-section{
        width: 100%;
        height: auto;
      }
    
      .map-section iframe{
        width: 100%;
        height: 400px;
      }
}

/* Mobile size */

@media (max-width: 576px) {
      .contact-hero-section {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 2rem;
        padding: var(--mobile-padding);
        background-image: url(/images/About\ Us\ Hero\ Image.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        animation: appear 1s ease-in-out;
      }
  
      .hero-text {
        width: fit-content;
        height: auto;
      }
  
      .hero-text h1 {
        font-size: 1.5rem;
        color: var(--text-color);
        padding: 3rem;
        text-align: center;
      }
  
      .opinion-text-group {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 1rem;
        padding: var(--mobile-padding);
        background: var(--Key-color-Light-Color, #F5F5F5);
      }
  
      .opinion-text-group h2 {
        width: 50%;
        font-size: 2rem;
        color: var(--dark-color);
      }
  
      .opinion-text-group p {
        width: 50%;
        font-size: .8rem;
        color: var(--Reference-Light-4, #474747);
      }
  
      .contact-section {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 1rem;
        padding: var(--mobile-padding);
      }
  
      .left-contact-container {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 2rem;
      }
  
      .contact-form {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 1rem;
      }
  
      .name-email-group {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: .5rem;
      }
  
      .subject-group {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: .5rem;
      }
  
      .subject-group textarea {
        width: 100%;
        height: 10rem;
        padding: 1rem;
        border-radius: 1.5rem;
      }
  
  
      .right-contact-container {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 1rem;
        background-color: var(--light-color);
        padding: 1rem;
        border-radius: 1.5rem;
        box-shadow: var(--shadow);
      }
  
      .contact-info-head {
        width: fit-content;
        height: auto;
      }
  
      .contact-info-head h3 {
        font-size: 1.5rem;
        color: var(--primary-color);
      }
  
      .contact-info-head p {
        font-size: .8rem;
        color: var(--dark-color);
      }
  
      .contact-info-container {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 1rem;
      }
  
      .contact-info-details {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        gap: .8rem;
      }
  
      .icon-containers {
        width: fit-content;
        height: auto;
        background-color: var(--primary-color);
        padding: 1rem;
        border-radius: .5rem;
        color: #F5F5F5;
      }
  
      .contact-info-item {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: .3rem;
      }
  
      .contact-info-item h4 {
        font-size: 1rem;
        color: var(--primary-color)
      }
  
      .contact-info-item p {
        font-size: 1rem;
        color: var(--dark-color);
      }
  
      .socials-section {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
      }
  
      .socials-section h2 {
        width: fit-content;
        height: auto;
        font-size: 1rem;
        color: var(--primary-color);
      }
  
      .social-icons {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 1rem;
      }
  
      .social-icon a {
        text-decoration: none;
        color: var(--dark-color);
        transition: color 0.3s ease-in-out;
      }
  
      .map-section {
        width: 100%;
        height: auto;
      }
  
      .map-section iframe {
        width: 100%;
        height: 400px;
      }
    }
